.App {
  min-height: 100vh;
  text-align: center;
  background-color: #f6f7fa;
  color: rgb(14, 5, 5);

}

.Rounds-slider .MuiSlider-valueLabelOpen {
  top: 0px;  
  transform: rotate(180deg) !important;
  .MuiSlider-valueLabelCircle {
    transform: rotate(180deg) 
  }
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.InfoIcon  {
  cursor: pointer;
  position: absolute;
  padding-left: 300px;
}

.App-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 25px;
  color: #40a2d2f7;
}


