.App {
  text-align: center;
}

.Rounds-slider .MuiSlider-valueLabelOpen {
  top: 0px;  
  transform: rotate(180deg) !important;
  .MuiSlider-valueLabelCircle {
    transform: rotate(180deg) 
  }
}

.App-header {
  background-color: #f6f7fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(14, 5, 5);
}


